__pycache__/
scenarios/
environments/
resources/thesis/
models/
tboard_logs/
*.zip
junk/
runs/
runs_old/
runs_old_old/
runs_evaluation/
runs_outputs/
.idea/
.spyproject/
.vscode/
train/*.json.bak
runs_baselines/
train/
dumdumdum.sh
dummy/
resources/papers/
